body {
    background-color: 	#28282B;
}
#h1,#h2,#h3,#h4,#h5,#h6,#h7,#h8{
    color: #FFFDD0; 
}
#p1{
    color:#eed7a1;
}
#body2{
    background-color:#FFFDD0;
}
#body3{
    background-color:#cd8b62;
}
#body4{
    background-color:#9A9498;
}
#body5{
    background-color:#C4A484;
}
#body6{
    background-color:#d3d3d3; 
}
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
